
GEMINI_API_KEY= # https://aistudio.google.com/apikey
TENOR_API_KEY= # https://developers.google.com/tenor/guides/quickstart#setup
DISCORD_TOKEN= # https://discord.com/developers/applications
DISCORD_CHANNEL_IDS= # https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID, comma separated for multiple channels
KV_URL= # optional